body {
  margin: 0;
  font-family: Arial;
  background: #0b1220;
  color: white;
  display: flex;
}

.sidebar {
  width: 200px;
  background: #111827;
  padding: 15px;
  height: 100vh;
}

.logo {
  color: #14b8a6;
  text-align: center;
}

.sidebar button {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  background: #1f2937;
  border: none;
  color: white;
  border-radius: 8px;
}

.main {
  flex: 1;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #111827;
}

#games, #favorites, #recent {
  display: grid;
  grid-template-columns: repeat(auto-fill, 180px);
  gap: 10px;
  padding: 10px;
}

.game {
  background: #1f2937;
  padding: 10px;
  border-radius: 12px;
  transition: 0.2s;
}

.game:hover {
  transform: translateY(-5px) scale(1.03);
}

#player {
  position: fixed;
  inset: 0;
  background: black;
}

.hidden {
  display: none;
}

iframe {
  width: 100%;
  height: 90%;
}

.player-top {
  padding: 10px;
}

#accountBox {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #1f2937;
  padding: 15px;
}
